<ion-view view-title="Configurações">
	<ion-content scroll="true">
  		<ion-list>
			<ion-item class="item-divider"> 
				Preferências
			</ion-item>
            <ion-item>
                <ion-toggle ng-model="preferences.receiveNotifications" toggle-class="toggle-calm">Receber notificações</ion-toggle>
            </ion-item>
        </ion-list>
        <div class="padding">
        	<button class="button button-block button-assertive ink">
		  		Excluir conta
			</button>
		</div>
	</ion-content>
</ion-view>
